:root {
    --primary-color: #003f61;
    --secondary-color: #b2b2b2;
    --tertiary-color: #39a6b2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family:monospace;
    
}

/* header start*/
header {
    padding: 5px 0 10px 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 75px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    
}
  
header nav {
    margin: 7px 0;
}
header nav :last-child {
    margin-right: 25px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}

header nav ul li a {
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 1.55vw;
    color: var(--secondary-color);
    border-bottom: 4px solid var(--secondary-color);
    padding-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
/*header end*/
/*hero start*/
.hero {
    padding: 20px 35px;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    background-image: url('../images/wavy.jpg');
    background-size: cover;
    background-position: 20%;
    min-height: 200px;
}
.hero h3 {
    color:var(--secondary-color);
    font-size: 26px;
    background-color: var(--primary-color);
    padding: 10px 10px;
    margin-right: 50px;
}
.hero img {
    width: 50%;
    height: auto;


}
/*hero end*/
/*contents start*/
.contents {
    padding-top: 30px;
}
.contents , .contact-me {
background: #e1e1e1;
}

.project-container {
    margin: 30px auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    
    
}

.step {
    margin: 50px auto 0px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;

}

.contact-me .step {
    margin: 0 auto 0 auto;
}

.step h2 {
    color: #024e76;
    font-size: 3vw;
    margin-top: 10px;
    flex: 1 15%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 1em;
    
}
.step p {
    color: #024e76;
    font-size: 26px;
}

.aside {
    display: flex;
    flex-direction: row;
    margin: 30px 5px;
    border-left: 4px solid var(--primary-color);
    padding-left: 50px;
    padding-bottom: 25px; 
    flex: 12 33%;
}


.run-buddy , .horiseon , .place-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    font-size: 15px;
    opacity: .7;
    justify-content: space-between;
    margin: 25px 25px 25px 25px;
    
    
}


.run-buddy img {
    width: 100%; /* width of container */
    height: auto;
    max-height: 100%; /* height of container */
    max-width: 100%;
    object-fit: cover;
    border: 5px solid var(--tertiary-color);
}
.run-buddy:hover {
    opacity: 1;
}



.horiseon img {
    display: block;
    width: 35vw; /* width of container */
    max-width: 100%;
    height: 24vw; /* height of container */
    max-height: 100%;
    object-fit: cover;
    border: 5px solid var(--tertiary-color);
    float: left;
    margin-right: 5px;
}

.horiseon:hover {
    opacity: 1;
}


.place-holder img {
    display: block;
    width: 35vw; /* width of container */
    max-width: 100%;
    height: 24vw; /* height of container */
    max-height: 100%;
    object-fit: cover;
    border: 5px solid var(--tertiary-color);
    float: right;
    margin-left: 5px;
}

.place-holder:hover {
    opacity: 1;
}

.tag {
    display: block;
    position: absolute;
    align-items: center;
    bottom: 50%;
    background-color: var(--tertiary-color);
    opacity: 1;
}

.tag p1 {
    font-size: 20px;
}
.step .place-holder .tag {
    left: 10px
}
/*content ends*/
/*footer start*/
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    list-style: none; 
    padding-top: 25px;
    padding-bottom: 25px;
}


footer nav ul li a {
    font-weight: bolder;
    font-size: 1.5vw;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 2px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    text-decoration: none;
}
.short-text { display: none; }
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 1em;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 5.0vw;
       
    }
    .hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: unset;
        
    }

   
    .step {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0px auto 0px auto;
        
        
    }
    .step p {
        font-size: 2.5em;
    }
    .step h2 {
        display: inline;
        border-bottom: 4px solid var(--primary-color);
        padding-bottom: 2px;
        width: 100%;
        text-align: center;

    }

  
    .aside {
        border-left: auto hidden var(--primary-color);
        padding-left: 3vw;
        padding-right: 3vw;
        padding-bottom: 0px;
    }
    #work .step {
        margin-top: 0px;
    }
    .project-container {
        margin-top: 0px;
    }
    .short-text { display: inline-block; }
    .full-text { display: none; }
    
    

      
 
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }
    
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .step-text {
        flex: 100%;  
    }
} 
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }
    
    .section-title {
        width: 95%;
    }
    
    .intro p {
        width: 100%;
    }
    
    .trainer {
        flex: 0 100%;
    }
    
    .contact-info {
        text-align: center;
    }
    
    .contact-info > * {
        flex: 0 100%;
    }
    .contact-form {
        order: 3;
    }
}
/* Thanks for taking the time to look at my work*/